// color vars
//// basic
$color-pink: #e62579;
$color-regular-blue: #4a4c5b;
$color-background: #f3f4f5;
$color-white: #fff;

//// gray
$color-dark-grey: #333;
$color-grey: #666;
$color-light-grey: #999;
$color-light-grey-s: #ccc;
$color-light-grey-ss: #eee;
$color-light-grey-sss: #fcfcfc;
$color-active-grey: #e8e8e8;

$color-dark-grey-opacity: rgba(74, 76, 91, 0.8);
$color-grey-opacity: rgba(0, 0, 0, .08);
$color-light-grey-opacity: rgba(0, 0, 0, .04);

//// orange
$color-dark-pink: #ae004d;
$color-light-pink: #ff64a8;
$color-pink-opacity: rgba(230, 37, 121, .08);
$color-light-pink-opacity: rgba(230, 37, 121, .04);

//// blue
$color-blue: #444654;

//// row line
$color-row-line: #ebebeb;
//// column line
$color-col-line: #f5f5f5;

/// mask
$color-mask-bg: rgba(37, 38, 45, .4);
